<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      body{
        background-color: #c3d5e4;
      }
      table {
        width: 50%;
        border-collapse: collapse;
      
      }

      thead {
        background-color: #333;
        color: #fff;
      }

      th,
      td {
        padding: 10px;
        border: 1px solid #333;
        text-align: center;
        width: 10%;
      }

      th {
        background-color: #333;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #ddd;
      }
      .selection-c {
        width: 250px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 1px 1px #ddd;
        margin-top: 10px;
        background-color:  #285e8e;
        color: white;
        font-weight: bold;
        
      }

      .product-types option {
        padding: 10px;
      }
      .product-select {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 10px;
      }
      .product-btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        background-color: #337ab7;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-top: 14px;
        cursor: pointer;
        margin-left: 20px;
      }

      .product-btn:hover {
        background-color: #285e8e;
      }
      .selection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .selection-outer {
        margin-top: 2rem;
      }
      .OrderHistoryTable{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10rem;
        flex-direction: column;
      }
      </style>
  </head>
  <%- include('navBar'); %>
  <body>
    <div class="selection-outer">
      <div class="selection">
        <div class="product-select">
          <select name="product-types" class="selection-c" id="product-types">
            <option selected>--Select Product--</option>
          </select>
          <!-- <button class="product-btn">Submit</button> -->
        </div>
        <div class="product-select">
          <select name="select-symbol " class="selection-c" id="symbols">
            <option selected>--Select Symbol--</option>
          </select>
          <!-- <button class="product-btn">Submit</button> -->
        </div>
      </div>
    </div>
    <!-- OrderHistoryTable -->
   <div class="OrderHistoryTable">
    <table id="dataTable">
      <h2 class="" style="color: #333;">Order History Details</h2>
      <thead>
        <tr>
<th>accountId</th>
<th>symbol</th>
<th>orderId</th>
<th>clientOrderId</th>
<th>price</th>
<th>quantity</th>
<th>orderType</th>
<th>side</th>
<th>status</th>
<th>fillPrice</th>
<th>fillQuantity</th>
<th>fillTotalAmount</th>
<th>cTime</th>
        </tr>
      </thead>
      <tbody id="orderHistoryTable"></tbody>
   </div>
  </body>

  <script>
    const productTypes = [
      "umcbl",
      "dmcbl",
      "cmcbl",
      "sumcbl",
      "sdmcbl",
      "scmcbl",
    ];

    const select = document.getElementById("product-types");
    productTypes.forEach((productType) => {
      const option = document.createElement("option");
      option.value = productType.toUpperCase();
      option.innerHTML = productType.toUpperCase();
      select.appendChild(option);
    });
    const pType = document.getElementById("product-types");

    pType.addEventListener("change", function () {
      const selectedOption = this.value;

      if (selectedOption == "--Select Product--") {
        return -1;
      }
      axios({
        method: "get",
        url: "http://localhost:3000/v1/api/contracts",
        headers: {
          // "ACCESS-KEY": "bg_0afe7deb31fd2b8cd109218f0a4c17da",
          // "ACCESS-SIGN":
          //   "17526f340bfef2d965fe564ac1deaea40e4a56de9c4ea6a8ca374cc04891922b",
          // "ACCESS-PASSPHRASE": "royalihasan0987",
          // "ACCESS-TIMESTAMP": "1659076670000",
          // locale: "en-US",
          // "Content-Type": "application/json",
          // "Content-Type": "application/json",
          // "Access-Control-Allow-Origin": "*",
          // "Access-Control-Allow-Methods": "GET,HEAD,OPTIONS,POST,PUT",
          // "Access-Control-Allow-Headers": "*",
          // "Access-Control-Allow-Headers":
          //   "Origin, Content-Type, Accept, Authorization, X-Auth-Token",
        },

        params: {
          productType: selectedOption,
        },
      })
        .then(function (response) {
          const items = response.data.data;
          const select = document.getElementById("symbols");

          const result = items.filter(function (item) {
            const option = document.createElement("option");
            option.value = item.symbol;
            option.innerHTML = item.symbol;
            select.appendChild(option);
          });
        })
        .catch(function (error) {
          console.log("Contract Api Not Working...");
        });
    });
    const sType = document.getElementById("symbols");

    sType.addEventListener("change", function () {
      const selectedOption = this.value;
      console.log(selectedOption);
      axios({
        method: "get",
        url: "http://localhost:3000/v1/api/history?ApiKey=bg_0afe7deb31fd2b8cd109218f0a4c17da&secretKey=17526f340bfef2d965fe564ac1deaea40e4a56de9c4ea6a8ca374cc04891922b&paraPhrase=royalihasan0987&before=1659076670000&after=987952085712&limit=100",
        headers: {},
        params: {
          symbol: selectedOption,
        },
      })
        .then(function (response) {
          var dataBody = document.getElementById("orderHistoryTable");

response.data.data.forEach(function (item) {
  secondOrder=item
  var row = document.createElement("tr");

  for (var key in item) {
    var cell = document.createElement("td");
    cell.innerHTML = item[key];
    row.appendChild(cell);
  }

  dataBody.appendChild(row);
});
        })
        .catch(function (error) {
          // console.log("Contract Api Not Working...");
        });
    });
  </script>
</html>
