<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        body {
        margin: 0;
        padding: 0;
      }
      .main-con {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: row;
      }
      table {
        /* width: 50%; */
        border-collapse: collapse;
        margin-top: 20px;
        text-align: center;
        
      }

      thead {
        background-color: #333;
        color: #fff;
      }

      th,
      td {
        padding: 3px;
        border: 1px solid #333;
        text-align: left;
      }

      th {
        background-color: #333;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #ddd;
      }
    

      h1 {
        text-align: left;
        font-size: 36px;
        font-family: sans-serif;
        color: #333;
      }

      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* height: 100vh; */
        margin-bottom: 100px;
      }

      .input-field {
        padding: 10px 20px;
        font-size: 16px;
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      .submit-button {
        padding: 10px 20px;
        background-color: red;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;

        margin-top: 20px;
      }

      .order-history-table {


      }
      .table-c {
       display: flex;
       justify-content: center;
       flex-direction: column;   
      text-align: center;
      margin-top: 1rem;
      } 
     
    </style>
    <%- include('navBar'); %>
  </head>
  <body>
    <div class="main-con">
      <div class="input-container">
        <input
          type="text"
          id="apiKey"
          class="input-field"
          placeholder="Enter ApiKey"
          required
        />
        <input
          type="text"
          id="secretKey"
          class="input-field"
          placeholder="Enter SecretKey"
          required
        />
        <input
          type="text"
          id="paraPhrase"
          class="input-field"
          placeholder="Enter ParaPhrase"
          required
        />
        <button type="submit" id="submitButton" class="submit-button">Submit</button>
      </div>
    </div>
    <!--  -->
    <div class="order-history-table">
      <div class="table-c">
        <table id="data-history">
          <h2>Get Order History</h2>
          <tr>
            <th>Code</th>
            <th>Message</th>
            <th>Request Time</th>
          </tr>
        </table>
      </div>
     <div class="table-c">
      <table id="data-transactionHistory">
        <h2>
           Get Transaction History  </h2>
        <tr>
          <th>Code</th>
          <th>Message</th>
          <th>Request Time</th>
        </tr>
     </div>
      </table>
     <div class="table-c">
      <table id="data-transferHistory">
        <h2>Get Transfer History</h2>
        <tr>
          <th>Code</th>
          <th>Message</th>
          <th>Request Time</th>
        </tr>
      </table>
     </div>
    </div>
  </body>

  <script>
    const submitButton = document.getElementById("submitButton");

    submitButton.addEventListener("click", function () {
      const apiKey = document.getElementById("apiKey").value;
      const secretKey = document.getElementById("secretKey").value;
      const paraPhrase = document.getElementById("paraPhrase").value;
      // console.log(apiKey.length)
      if (apiKey.length < 10 || secretKey < 10 || paraPhrase.length < 5) {
        window.alert("Please Enter the Data into input Fields");
        return -1;
      }

      axios({
        method: "get",
        url: "https://cheerful-bikini-ox.cyclic.app/v1/api/history",
        headers: {
          "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json",
        },
        headers: {},
        params: {
          apiKey: apiKey,
          secretKey: secretKey,
          paraPhrase: paraPhrase,
          coinId: 2,
          groupType: "deposit",
          fromType: "spot",
          before: 1659076670000,
          after: 987952085712531457,
          limit: 100,
        },
      })
        .then(function (response) {
          let data = response.data;
          let table = document.getElementById("data-history");
          let row = table.insertRow();
          let cell1 = row.insertCell(0);
          let cell2 = row.insertCell(1);
          let cell3 = row.insertCell(2);
          cell1.innerHTML = data.code;
          cell2.innerHTML = data.msg;
          cell3.innerHTML = data.requestTime;
        })
        .catch(function (error) {
          alert("Credentials not Correct");
          return -1;

        });

      axios({
        method: "get",
        url: "https://cheerful-bikini-ox.cyclic.app/v1/api/transaction",
        headers: {
          "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json",
        },

        params: {
          apiKey: apiKey,
          secretKey: secretKey,
          paraPhrase: paraPhrase,
          coinId: 2,
          groupType: "deposit",
          fromType: "spot",
          before: 1659076670000,
          after: 987952085712531457,
          limit: 100,
        },
      })
        .then(function (response) {
          console.log("Trans:"+response.status)
          let data = response.data;
          let table = document.getElementById("data-transactionHistory");
          let row = table.insertRow();
          let cell1 = row.insertCell(0);
          let cell2 = row.insertCell(1);
          let cell3 = row.insertCell(2);
          cell1.innerHTML = data.code;
          cell2.innerHTML = data.msg;
          cell3.innerHTML = data.requestTime;
        })
        .catch(function (error) {

        });
      // Transfer
      axios({
        method: "get",
        url: "https://cheerful-bikini-ox.cyclic.app/v1/api/transfer",
        headers: {
          "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
          "Access-Control-Allow-Origin": "*",
          "Content-Type": "application/json",
        },

        params: {
          apiKey: apiKey,
          secretKey: secretKey,
          paraPhrase: paraPhrase,
          coinId: 2,
          groupType: "deposit",
          fromType: "spot",
          before: 1659076670000,
          after: 987952085712531457,
          limit: 100,
        },
      })
        .then(function (response) {
          console.log("Trans:"+response.status)
          let data = response.data;
          let table = document.getElementById("data-transferHistory");
          let row = table.insertRow();
          let cell1 = row.insertCell(0);
          let cell2 = row.insertCell(1);
          let cell3 = row.insertCell(2);
          cell1.innerHTML = data.code;
          cell2.innerHTML = data.msg;
          cell3.innerHTML = data.requestTime;
        })
        .catch(function (error) {

        });
    });

    // Trans
  </script>
</html>
